<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
    <title>My template</title>
</head>
<body>

 	<ul>
 		<li id="home"><a href="http://localhost:3000/">Home</a></li>
 		<li id="home"><a href="http://localhost:3000/add"> Add</a></li>
 	</ul>

    {{{body}}}
 
</body>
</html>
